@import (reference) "../../../../styles/mixins.less";

.section {
  padding: 5rem 1.5rem;
  overflow: hidden;
}

.container {
  .page-container();
}

.metaIconSvg {
  width: 0.75rem;
  height: 0.75rem;
}
